/** @format */

html {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	min-height: 100%;
}

body.home {
	background: url(../images/home_bottom_img.png) bottom 0 left 0 no-repeat fixed;
	background-size: 100% auto;
}

body.bio {
	background: url(../images/bio_bottom_img.png) bottom 0 left 0 no-repeat fixed;
	background-size: 100% auto;
}

body.service {
	background: url(../images/service_bottom_img.png) bottom 0 left 0 no-repeat fixed;
	background-size: 100% auto;
}

body.conditions {
	background: url(../images/condition_bottom_img.png) bottom 0 left 0 no-repeat fixed;
	background-size: 100% auto;
}

body.location {
	background: url(../images/location_bottom_img.png) bottom 0 left 0 no-repeat fixed;
	background-size: 100% auto;
}

body.appointment {
	background: url(../images/appointment_bottom_img.png) bottom 0 left 0
		no-repeat fixed;
	background-size: 100% auto;
}


ul {
	list-style: none;
	padding: 0;
	display: inline;
}

a{
	color: #000;
	text-decoration: none;	
}

a:hover{
	text-decoration: none;
}
/* Page Container */
.page-container{
	padding-top: 80px;
	min-height: calc(100vh - 80px);
}


.content-block.dark{
	background: #EFEFEF;
	padding: 15px;
}

.card-block.dark{
	background: #EFEFEF;
	padding: 10px;
}

.page-title{
	font-family: Oswald;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.page-content{
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #292929;
}

.content-block ul{
	list-style: disc inside;
	margin-left: 0%;
	margin-bottom: 20px;
}

.content-block ul.nav-tabs{
	list-style: none;
	margin-left: 0%;
}

@media(max-width: 992px){
	.open .content-section{
		position: relative;
		left: -400%;
		transition: left 0.5s;
		display: none;
	}

	.open .left-nav{
		display: block;
	}
}

.nav-tabs{
	border: none;
}


.nav-tabs .nav-link{
	border: none;
	padding-left: 0;
	padding-right: 0;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0.04em;
	color: #7f7f7f;
}

.nav-tabs .nav-link.active{
	
	color: #292929;
}

.nav-tabs .nav-item + .nav-item {
	padding-left: 20px;

}

.next-page-link{
	padding-top: 16px;
	display: inline-block;
	padding-left: 0px;
}

.next-page-link:after{
	content:" ";
	display: inline-block;
	background: url("../images/left_icon.png") no-repeat center;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.next-page-link img{
	margin-right: 10px;
}


.accordion .card-header a h5{
	padding-left: 20px;
}


.accordion .card .accordion .card .card-header a h5{
	padding-left: 50px;
}

.accordion .card .accordion .card .card-header a::before {
	left: 30px;
}

.accordion .card .accordion .card .card-body{
	padding-left: 30px
}

.accordion .card .accordion .card:first-child:before{
	content: " ";
	height: 1px;
	width: 80%;
	display: inline-block;
	background: #EFEFEF;
}

.accordion .card-header a::before{
	content: "\f0d7";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	top: 5px;
	left: 0;
	color: #292929;
}


.accordion .card-header a.collapsed::before{
	content: "\f0d8";
}


.accordion .card{
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.accordion .card + .card::before{
	content: " ";
	height: 1px;
	width: 80%;
	display: inline-block;
	background: #EFEFEF;
}
.card-header {
    padding: 4px 0rem;
    margin-bottom: 0;
    background-color: transparent;
	border:none;
}
.card-header h5{
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #292929;
}

.accordion .card .card-body{
	padding: 0 0 0 0px;
}


@media (max-width: 992px){
	.page-container{
		padding-top: 35px;
	}

	.content-block{
		margin-top: 20px;
	}
}

@media (max-width: 767px){
	.page-container{
		padding-top: 15px;
	}
}


.logo{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	color: #000;
	font-size: 20px;
	line-height: 20px;
	white-space: normal;
	width: 100px;
	text-transform: uppercase;
}

@media (max-width: 992px){
	.logo{
		white-space: nowrap;
		width: 100%;
	}
}
/*Left Navigatioin*/
.left-nav{
	padding-top: 30px;
}

.left-nav ul li a{
	font-size: 16px;
	line-height: 16px;
	color: #7F7F7F;
	font-weight: 400;
	position: relative;
}

.left-nav ul li a:after{
	content: " ";
	position: absolute;
	bottom: 0px;
	left: 0;
	right: initial;
	height: 2px;
	width: 0;
	display: inline-block;	
	background-color: #7F7F7F;
	transition: width 0.6s;
}

.left-nav ul li:hover a:after{
	width: 100%;
	transition: width 0.6s;
	background-color: #000000;
}

.left-nav ul li a.active{
	
	color: #000;
}

.left-nav ul li{
	padding: 5px 0;
}

@media (max-width: 992px){
	.mobile-top-header{
		position: relative;
		height: 50px;
		margin-bottom: 50px;
	}
	.header-btn{
		width: 150px;
	}

	.left-nav{
		display: none;
	}
}

.button-section {
	padding-top: 20px;
}
.btn.custom{
	background-color: #fff;
	border: 2px solid #292929;
	box-shadow: 2px 2px 0px #222222;
	padding: 8px 16px;
	line-height: 16px;
	font-size: 16px;
	color: #292929;
	border-radius: 0;
	transform: box-shadow 0.4s;
}

.btn.custom.large-btn{
	line-height: 24px;
}

.btn.custom.full{
	width: 100%;
}

.btn.custom:hover{
transform: box-shadow 0.4s;
	box-shadow: -2px -2px 0px #222222;

}


/*Footer*/

footer {
	text-align: center;
	width: 100%;
	padding: 30px 0;
}

footer ul li {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 5px;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
}

footer ul li a:hover,
footer ul li a:focus {
	color: #fff;
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

#map
{
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}